body {
    background-image: url('animated-water.gif');
    background-size: cover;
    padding: 3rem;
}
.content-wrap {
    margin: 0 auto;
    max-width: 70rem;
    text-align: center;
}

img.title {
    width: 400px
}
.start {
    margin-top: 0.5rem;
}

#postcodes {
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}
.start {
    display: block;
    width: 16%;
    margin-left:42%;
    margin-right:42%;
    color: #fff !important;
    background-color: #0af !important;
    border: 1px solid #fff !important;
}